@import "tailwindcss";

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradientMove {
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;
}

@keyframes pulseIcon {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.85;
  }
}

@keyframes pulseGlow {
  0%, 100% {

  }
  50% {
    box-shadow: 0 0 20px 5px rgb(253, 103, 27);
  }
}

.animate-pulse-icon {
  animation: pulseIcon 1.8s infinite ease-in-out;
}

.animate-pulse-glow {
  animation: pulseGlow 2s infinite ease-in-out;
}
